{% extends 'base.html.twig' %} {% block title %}New Destination | {{ parent() }}{% endblock %} {% block body %}
<div class="container my-5 pt-5">
  <h1>Create new Travels</h1>

  {{ include('travels/_form.html.twig') }}

  {# <a href="{{ path('app_travels_index') }}">back to list</a> #}
</div>
{% endblock %}
